@using System.ComponentModel
@using Microsoft.Extensions.AI
@using System.ComponentModel.DataAnnotations
@using Microsoft.Extensions.DependencyInjection
@inject IServiceProvider ServiceProvider
@implements IDisposable
<div style="width: 100%">
    <CascadingValue Value="@this" IsFixed="true">
        <ChatHeader OnNewChat="@ResetConversationAsync" DebugMode="@debugMode"/>
    </CascadingValue>
    <CascadingValue Value="@this">
        <ChatMessageList Messages="@messages" InProgressMessage="@currentResponseMessage">
            <NoMessagesContent>
                <div>@InitialText</div>
            </NoMessagesContent>
        </ChatMessageList>
    </CascadingValue>
</div>

<div class="chat-container">
    <ChatInput OnSend="@AddUserMessageAsync" @ref="@chatInput" />
</div>

@code {

    [Parameter]
    public string InitialText { get; set; } = "Hello";

    [Parameter]
    public string? IndexName { get; set; }

    [Parameter]
    public string? IndexId { get; set; }

    [Parameter]
    public string? UserId { get; set; }

    [Parameter]
    public bool debugMode { get; set; }  = false;

    // Event handler for copy signal
    [Parameter]
    public EventCallback<string> OnCopy { get; set; }

    [Parameter]
    public EventCallback<string> IndexIdChanged { get; set; }

    [Parameter]
    public bool ShowCopyButton { get; set; } = true;

    [Parameter]
    public string ProcessName { get; set; } = "EditChatClient";

    private readonly ChatOptions chatOptions = new();
    public readonly List<ChatMessage> messages = new();
    private CancellationTokenSource? currentResponseCancellation;
    private ChatMessage? currentResponseMessage = null;
    private ChatInput? chatInput;
    private string? currentId;
    private IChatClient? ChatClient;



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentId = Guid.NewGuid().ToString();
            chatOptions.ConversationId = currentId;
            chatOptions.AdditionalProperties ??= new();
            chatOptions.AdditionalProperties["Index"] = IndexId;
            chatOptions.AdditionalProperties["UserId"] = UserId;
            chatOptions.AdditionalProperties["IndexName"] = IndexName;
            ChatClient = ServiceProvider.GetKeyedService<IChatClient>(ProcessName);
            if (ChatClient == null)
            {
                throw new InvalidOperationException($"No IChatClient registered with the name '{ProcessName}'.");
            }
            // Kick off the conversation with the initial text
            var resp = await ChatClient.GetResponseAsync(new List<ChatMessage>(), chatOptions);
            messages.AddMessages(resp);
        }
    }

    public async Task AddUserMessageAsync(ChatMessage userMessage)
    {

        // Add the user message to the conversation
        messages.Add(userMessage);
        await chatInput!.FocusAsync();

        // Display a new response from the IChatClient
        var responseText = new TextContent("");
        currentResponseCancellation = new();
        var requestMessages = messages.ToArray();
        currentResponseMessage = new ChatMessage(ChatRole.Assistant, [responseText]);
        if (ChatClient == null)
        {
            throw new InvalidOperationException($"No IChatClient registered with the name '{ProcessName}'.");
        }
        var resp = await ChatClient.GetResponseAsync(requestMessages, chatOptions, currentResponseCancellation.Token);
        currentResponseMessage = null;
        messages.AddMessages(resp);
        StateHasChanged();
    }

    private async Task ResetConversationAsync()
    {
        currentId = Guid.NewGuid().ToString();
        chatOptions.ConversationId = currentId;
        messages.Clear();
        messages.Add(new ChatMessage(ChatRole.Assistant, InitialText));
        await chatInput!.FocusAsync();
    }

    public async Task LoadMessages(List<ChatMessage> messages)
    {
        currentId = Guid.NewGuid().ToString();
        chatOptions.ConversationId = currentId;
        this.messages.Clear();
        //disable chatInput while loading messages
        foreach(var message in messages.Where(m => m.Role == ChatRole.User ))
        {
            await AddUserMessageAsync(message);
        }
        // Re-enable chatInput after loading messages
        await chatInput!.FocusAsync();
    }

    public async Task SignalCopy(string text)
    {
        if (OnCopy.HasDelegate)
        {
            await OnCopy.InvokeAsync(text);
        }
    }

    public void Dispose()
        => currentResponseCancellation?.Cancel();
}
